h1{
    font-size: 94px;
    color: beige;
    font-family: Georgia, 'Times New Roman', Times, serif;
    }
    .hello2{
    font-size: 40px;
    color: blue;
    }
    #hello3{   
    font-size: 30px; 
     color: aqua;
    
    }

.botao{
background-color: blueviolet;
color: azure;
font-family: 'Courier New', Courier, monospace;
border-radius: 50% 30% 0 0 ;
font-size:  30px;
border: #000000 solid 2px;
padding: 10px;
}
.botao:hover{
background-color: #a9230f;
color:#65f11a;
cursor: pointer;
}