* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body {
    font-family: Arial, sans-serif;
    background-color: #f4f4f4;
    color: #000000;
    line-height: 1.6;
    padding: 20px;
}
.navbar{
    padding: 20px;
    display: flex;
    justify-content: end;
    background-color: rgb(26, 26, 26);
    text-align: end;
    color: beige;
}´
h3,p{ 
    display: flex;
    justify-content: end;
    align-items: end;
    
}