h1 {
    font-size: 94px;
    color: darkviolet;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif
}

.hello2 {
    font-size: 40px;
    color: #c93131;
}

#hello3 {
    font-size: 30px;
    color: #65f11a;
}

.botao {
    background-color: #251af1;
    color: azure;
    font-family: 'Courier New', Courier, monospace;
    border-radius: 50% 30% 0 0;
    font-size: 30;
    border: #000000 solid 2px;
    padding: 10px;
    box-shadow: #000000 0px 0px 10px;

}

.botao:hover {
    background-color: #a9230f;
    color: #65f11a;
    cursor: pointer;
}