body{
    background-color: rgb(230, 230, 206);
    border-style: hidden;
    font-family:'Times New Roman', Times, serif
    
    
    
}
.container {
    max-width: 800px;
    margin: 20px auto;
    padding: 20px;
    background-color: beige;
    border-radius: 5px;
    box-shadow: 0px 0px 10px 10px rgb(114, 114, 114);
    display: flex;
    flex-direction: column;
    align-items: center;
}
.img{
    width: 230px;
    height: 230px;
    border-radius: 50%;
    box-shadow: 0px 0px 10px 10px rgb(114, 114, 114);

}
.img:hover{
    transition: all 1s;
    width: 250px;
    height: 250px;
border-radius: 50%;
box-shadow: black;

}
.social{
    transition: all 2s;
    border-radius: 50%;
    display: flex;
    align-items: center;
}
.contact{
    display: block;
    margin-bottom: 10px;
    text-decoration: none;
    color: #333;
}
.contact:hover {
    color: #007bff;
}

