*{
    box-sizing: initial;
}
h1{
    text-align: center;
    margin-top: 1em;
}
.viajar{
    justify-content: center;
    display: flex;
}
img{
    margin: 1% 1%;
}
img:first-child{
   border: 2px solid blue;
}
img:nth-child(2){
    box-shadow: 0px 0px 10px 10px #ff0000;
}
img:hover{
    transform: scale(1.1);
}

