body {
  font-family: sans-serif;
  font-size: 1.125rem;
  height: 100vh;
  display: -moz-grid;
  color: lightslategray;
  background-color: black;
}

#container {
  display: -webkit-flex;
  display: -moz-flax;
  display: -ms-flex;
  display: flex;

  width: 90%;
  max-height: 1100;

  align-items: center;
  gap: 1rem;
}

.nome {
  font-size: 900;
  font-size: 3rem;
}

.localizacao {
  font-weight: 400;
}

p {
  margin-bottom: 1rem 
}

  button:hover{
    background-color: greenyellow;
    color: rgb(0, 136, 255);
  }

  