body {
    font-family: Arial, sans-serif;
    line-height: 1.6;
    background-color: #f4f4f4;
    margin: 0;
    padding: 0;
  }
  
  header {
    background-color: #333;
    color: #fff;
    text-align: center;
    padding: 20px 0;
  }
  
  h1 {
    margin: 0;
  }
  
  section {
    padding: 20px;
    margin-bottom: 20px;
  }
  
  .resumo {
    background-color: #fff;
  }
  
  .experiencia {
    background-color: #f2f2f2;
  }
  
  .formacao {
    background-color: #fff;
  }
  
  .competencias {
    background-color: #f2f2f2;
  }
  
  footer {
    background-color: #333;
    color: #fff;
    text-align: center;
    padding: 20px 0;
  }