*{
    margin: 0;

}
.body{
    font-family: 'Times New Roman', Times, serif;
    background-color: rgb(80, 80, 80);
}
.navbar{
    margin: 0;
    padding: 20px;
    display: flex;
    justify-content: end;
    background-color: rgb(26, 26, 26);
    text-align: end;
    color: beige;
}
.button{
    font-family: 'Times New Roman', Times, serif;
    width: 90px;
    padding: 10px;
    border: 0;
    border-radius: 50px;
    background-color: red;
    color: beige;
}
.container{
    
}
