*{
    margin: 0;
    padding: 0;
    list-style: none;

}
h1{
    text-align: center;
    margin-bottom: 1em;
}
.card{
    text-decoration: bu;
    border-radius: 1em;
    margin-top: 3em;
    background-color: burlywood;
    width: 29em;
    margin-left: 23em;
    width: 12em;
    padding-right: 3em;
    padding-bottom: 2em;
    padding-top: 3em;
    padding-left: 3em;
    box-shadow: 2px 2px  9px 4px gray;
}