* {
}
 body{
    background-image: url(./Fotos/fundo.webp);
    
 }


.cabeçalho {
  background-color: rgb(179, 136, 30);
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
}

li {
  display: inline-block;
  margin: 6px;
}
h2{
    color: burlywood;
}
