.container {
    text-align: center;
}

.row {
    display: flex;
    justify-content: space-around;
}

.row a {
    margin: 10px;
}

.gallery div {
    display: none;
}

.gallery div:target {
    display: block;
}

.gallery div img {
    width: 150px;
    height: 150px;
    object-fit: cover;
    margin: 5px;
}
