body{
    font-family: 'Inter',sans-serif;
    font-size: 1.125rem;
    height:100vh ;
    display: -moz-grid;
    color: aqua;
    background-color: black;
}
#container{
    display: -webkit-flex;
    display: -moz-flex;
    display: -ms-flex;
    display: flex;
    width: 90%;
    max-width: 1100px;
    align-items: center;
    gap: 2rem;
}